.container {
  overflow: hidden;
  overflow-y: hidden;
  .main {
    margin-top: 70px;
    .mainLeft {
      float: left;
    }
    .mainRight {
      float: right;
    }
    .buttonStart {
      background-color: white; /* Green */
      border: none;
      color: #2a6166;
      padding: 5px 8px;
      margin-top: 10px;
      text-align: center;
      text-decoration: none;
      font-size: 14px;
      transition-duration: 0.4s;
      cursor: pointer;
      border: 1px solid #2a6166;
      border-radius: 15px;

      &:hover {
        background-color: #2a6166;
        color: white;
      }
    }
  }
}
