.container{
    overflow: hidden;
    .main{
        margin-top: 70px;

        .mainLeft{
            float: left;
            margin-left: 30px;
        }

        .mainRight{
            float: right;
            margin-right: 20px;
        }
        .buttonStart{
            background-color: white; /* Green */
            border: none;
            color: #2A6166;
            padding: 10px 12px;
            text-align: center;
            text-decoration: none;
            font-size: 14px;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
            border: 1px solid #2A6166;
            border-radius: 15px;

            &:hover{
                background-color: #2A6166;
             color: white;
            }
        }

    }

}
