.footer{
    background-color: #456355;
    height: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #FFF;
    text-align: center;
    display: flex;
    font-size: 10px;
    justify-content: center;
    align-items: center;
}