.cardContainerUpdate{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 35%;
        // margin-top: 90px;
        height: 450px;
        border-radius: 40px;
        margin: 0 auto;
        background-color: #FFF;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

    .formAdd{
        display: flex;
        flex-direction: column;
        width: 60%;
        justify-content: center;
    }
    .buttonReset{
        background-color: #000;
        color: #FFF;
        margin-top: 20px;
        padding: 5px;
        width: 60%;
        border-radius: 5%;
    }
 
}
